.MyWorks {
  color: white;
  box-sizing: border-box;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  font-family: monospace;
  padding: 10px 10px 20px;
  height: 97%;
  width: 69%;
  box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
  outline: 0;
}
