@import "../../../common/styles/mixins.scss";
@import "../../../common/styles/variables.scss";

.works {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  &_content {
    flex-grow: 1;
    padding-right: 6%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &_header {
    margin-top: rem(16px);
    margin-bottom: rem(16px);
    color: $main_text_color;
    font-weight: bold;
    font-size: rem(32px);

    &::before {
      @include pseudo();
      border: rem(2px) solid $border_color;
      height: rem(34px);
      margin-left: rem(-15px);
    }
  }
}

[data-theme="dark"] .works {
  &_header {
    color: $main_text_color--dark;

    &::before {
      border: rem(2px) solid $border_color--dark;
    }
  }
}

.slider_wrapper {
  height: 80%;
  width: 80%;
}

.slider_image {
  min-width: 100%;
  max-width: 100%;
  height: rem(400px);
}
