@import "../../../common/styles/mixins.scss";
@import "../../../common/styles/variables.scss";

.works {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  &_content {
    flex-grow: 1;
    padding-right: 6%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &_header {
    margin-top: rem(16px);
    margin-bottom: rem(16px);
    color: $main_text_color;
    font-weight: bold;
    font-size: rem(32px);

    &::before {
      @include pseudo();
      border: rem(2px) solid $border_color;
      height: rem(34px);
      margin-left: rem(-15px);
    }
  }
}

[data-theme="dark"] .works {
  &_header {
    color: $main_text_color--dark;

    &::before {
      border: rem(2px) solid $border_color--dark;
    }
  }
}

.slider {
  &_works_wrapper {
    height: 80%;
    width: 80%;
  }

  &_image {
    min-width: 100%;
    max-width: 100%;
    height: rem(400px);
  }

  &_link {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &_description {
    opacity: 0;
    color: $main_text_color;
    background: $main_head_color;
    border: rem(1px) solid $border_color;
    position: absolute;
    right: 0%;
    top: 0%;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: rem(16px);

    &_header {
      align-self: center;
      color: $main_text_color;
      font-weight: bold;
      font-size: rem(18px);

      &::before {
        @include pseudo();
        border: rem(2px) solid $border_color;
        height: rem(20px);
        margin-left: rem(-15px);
      }
    }

    &_text {
      text-align: justify;
      padding-top: rem(14px);
      color: $main_text_color;
      font-size: rem(14px);
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }

  &_link:hover &_description {
    opacity: 0.9;
  }
}

[data-theme="dark"] .slider {
  &_description {
    color: $main_text_color--dark;
    background: darken($main_head_color--dark, 5%);
    border: rem(1px) solid $border_color--dark;

    &_header {
      color: $main_text_color--dark;

      &::before {
        border: rem(2px) solid $border_color--dark;
      }
    }

    &_text {
      color: $main_text_color--dark;
    }
  }
}
