@function rem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  border-radius: $width/2;
  background-color: $color;
}

@mixin square($width, $color) {
  width: $width;
  height: $width;
  background-color: $color;
}

@mixin header-line($font_size) {
  &::before {
    @include pseudo();
    border: rem(2px) solid $border_color;
    height: $font_size;
    margin-left: rem(-15px);
  }

  [data-theme="dark"] &::before {
    border: rem(2px) solid $border_color--dark;
  }
}

@mixin color($color, $color--dark) {
  color: $color;

  [data-theme="dark"] & {
    color: $color--dark;
  }
}

@mixin border($width, $color, $color--dark) {
  border: $width solid $color;

  [data-theme="dark"] & {
    border: $width solid $color--dark;
  }
}

@mixin without-border($direction) {
  @if ($direction == "top") {
    border-top: none;
    [data-theme="dark"] & {
      border-top: none;
    }
  } @else if ($direction == "bottom") {
    border-bottom: none;
    [data-theme="dark"] & {
      border-bottom: none;
    }
  } @else if ($direction == "left") {
    border-left: none;
    [data-theme="dark"] & {
      border-left: none;
    }
  } @else if ($direction == "right") {
    border-right: none;
    [data-theme="dark"] & {
      border-right: none;
    }
  }
}

@mixin background-color($color, $color--dark) {
  background-color: $color;

  [data-theme="dark"] & {
    background-color: $color--dark;
  }
}

@mixin background-color--hover($color, $color--dark) {
  &:hover {
    background-color: $color;
  }

  [data-theme="dark"] &:hover {
    background-color: $color--dark;
  }
}

@mixin fonts-text() {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@mixin button() {
  cursor: pointer;
  padding: rem(12px);
  border-radius: rem(8px);
  font-size: rem(24px);
  @include color($active_text_color, $active_text_color--dark);
  @include background-color($main_body_color, $main_body_color--dark);
  @include background-color--hover(
    lighten($active_text_color, 52.5%),
    $main_head_color--dark
  );
  @include border(rem(2px), $active_text_color, $active_text_color--dark);
  @include fonts-text();
}

@mixin input() {
  padding: rem(8px);
  border-radius: rem(8px);
  @include border(rem(1px), $border_color, $border_color--dark);

  &:focus {
    @include border(
      rem(1px),
      $active_text_color,
      darken($active_text_color--dark, 10%)
    );
  }
}

// media queries

@mixin mobile-portrait {
  @media screen and (max-height: 824px) and (max-width: 432px) and (orientation: portrait) {
    @content;
  }
}
@mixin mobile-landscape {
  @media screen and (max-height: 432px) and (max-width: 824px) and (orientation: landscape) {
    @content;
  }
}

@mixin tablet-portrait {
  @media screen and (max-width: 768px) and (max-height: 1280px) and (orientation: portrait) {
    @content;
  }
}
@mixin tablet-landscape {
  @media screen and (max-width: 1280px) and (max-height: 768px) and (orientation: landscape) {
    @content;
  }
}

@mixin desktop-small {
  @media screen and (min-width: 1281) and (min-height: 768px) {
    @content;
  }
}
@mixin desktop-middle {
  @media screen and (min-width: 1600px) and (min-height: 768px) {
    @content;
  }
}
@mixin desktop-large {
  @media screen and (min-width: 1920px) and (min-height: 768px) {
    @content;
  }
}
