@import "./mixins.scss";
@import "./variables.scss";

.slick-next::before,
.slick-prev::before {
  color: $active_text_color !important;
}

.slick-dots li button::before {
  color: $active_text_color !important;
}

[data-theme="dark"] .slick-next::before,
[data-theme="dark"] .slick-prev::before {
  color: $active_text_color--dark !important;
}

[data-theme="dark"] .slick-dots li button::before {
  color: $active_text_color--dark !important;
}
