@import "../../../common/styles/mixins.scss";
@import "../../../common/styles/variables.scss";

.welcome {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_question {
    font-weight: bold;
    font-size: rem(48px);
    @include color($main_text_color, $main_text_color--dark);
    @include header-line(rem(48px));

    @include mobile-landscape {
      font-size: rem(32px);
      @include header-line(rem(32px));
    }
  }

  &_button {
    cursor: pointer;
    margin-top: rem(48px);
    margin-bottom: rem(64px);
    padding: rem(12px);
    border-radius: rem(8px);
    font-size: rem(24px);
    @include color($active_text_color, $active_text_color--dark);
    @include background-color($main_body_color, $main_body_color--dark);
    @include background-color--hover(
      lighten($active_text_color, 52.5%),
      $main_head_color--dark
    );
    @include border(rem(2px), $active_text_color, $active_text_color--dark);
    @include fonts-text();
  }
}
