@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

.Wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: rgb(200, 200, 200);
}

.Container {
  background: rgb(255, 255, 255);
  width: 100%;
}
