@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

* {
  transition: 0.3s;
}
.Wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: $main_body_color;
}
[data-theme="dark"] .Wrapper {
  background: $main_body_color--dark;
}
