@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

.About {
  position: relative;
  height: 100vh;
  z-index: $z-index_content;
  font-size: rem(16px);
  width: 90%;
  max-width: rem(1100px);
  flex-grow: 1;
  outline: 0;
}

.sections {
  transition: 0.5s;
  height: 100vh;
  width: 100%;
}

.section {
  height: 100vh;
  width: 100%;
}

.controls {
  position: absolute;
  z-index: $z-index_content;
  padding-top: 2%;
  top: rem(43px);
  right: 3%;

  &_list {
    border: rem(1px) solid $border_color;
    padding: rem(4px);
    border-radius: rem(2px);
  }

  &_item {
    cursor: pointer;
    border: rem(3px) solid $border_color;
    margin-top: rem(5px);
    height: rem(20px);
    position: relative;

    &_active {
      cursor: pointer;
      border: rem(3px) solid $main_text_color;
      margin-top: rem(5px);
      height: rem(20px);
      position: relative;

      &:first-child {
        margin-top: rem(0px);
      }
    }

    &:first-child {
      margin-top: rem(0px);
    }
  }
}

.first {
  display: flex;
  flex-direction: column;

  &_content {
    flex-grow: 1;
    padding-right: 6%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &_photo {
    max-height: 80vh;
  }

  &_header_text {
    margin-left: rem(30px);
    padding-top: rem(12px);
    color: $main_text_color;
    font-weight: bold;

    &::before {
      @include pseudo();
      border: rem(2px) solid $border_color;
      height: rem(16px);
      margin-left: rem(-15px);
    }

    &:first-child {
      padding-top: rem(0px);
    }
  }

  &_main_text {
    margin-left: rem(30px);
    padding-top: rem(6px);
    color: $main_text_color;
    font-size: rem(14px);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  &_svg {
    max-width: rem(48px);
    height: rem(48px);

    &_text {
      padding-top: rem(4px);
      color: $main_text_color;
      font-size: rem(14px);
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }

  &_text {
    height: 80vh;
    flex-grow: 1;
  }

  &_skills {
    &_list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &_item {
      padding-top: rem(12px);
      padding-left: rem(6px);
      padding-right: rem(6px);
      min-width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
