@import "../../../common/styles/mixins.scss";
@import "../../../common/styles/variables.scss";

.HeaderStub {
  height: rem(43px);
  width: 100%;

  @include mobile-landscape {
    height: rem(31px);
  }
}
