@import "../../../../common/styles/mixins.scss";
@import "../../../../common/styles/variables.scss";

.about {
  margin-right: rem(32px);
  flex-grow: 1;
  height: 90%;
  @include border(rem(1px), $border_color, $border_color--dark);
  @include background-color($main_head_color, $main_head_color--dark);

  &_container {
    padding: rem(32px);
    white-space: pre-wrap;
    @include color($main_text_color, $main_text_color--dark);
    font-size: rem(16px);
    line-height: rem(20px);
    @include fonts-text();
  }
}
