@import "../../../common/styles/mixins.scss";
@import "../../../common/styles/variables.scss";

.first {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  &_content {
    flex-grow: 1;
    padding-right: 6%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &_photo {
    max-height: 80vh;
  }

  &_header_text {
    margin-left: rem(30px);
    padding-top: rem(12px);
    @include color($main_text_color, $main_text_color--dark);
    font-weight: bold;
    @include header-line(rem(16px));

    &:first-child {
      padding-top: rem(0px);
    }
  }

  &_main_text {
    margin-left: rem(30px);
    padding-top: rem(6px);
    @include color($main_text_color, $main_text_color--dark);
    font-size: rem(14px);
    @include fonts-text();
  }

  &_svg {
    max-width: rem(48px);
    height: rem(48px);

    &_text {
      padding-top: rem(4px);
      @include color($main_text_color, $main_text_color--dark);
      font-size: rem(14px);
      @include fonts-text();
    }
  }

  &_text {
    height: 80vh;
    flex-grow: 1;
  }

  &_skills {
    &_list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &_item {
      padding-top: rem(12px);
      padding-left: rem(6px);
      padding-right: rem(6px);
      min-width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
