@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

.header {
  z-index: $z-index_header;
  height: rem(43px);
  font-size: rem(16px);
  position: fixed;
  width: 100%;
  background: $main_head_color;
  border-bottom: rem(1px) solid $border_color;
  display: flex;
  justify-content: center;
}
[data-theme="dark"] .header {
  background: $main_head_color--dark;
  border-bottom: rem(1px) solid $border_color--dark;
}

.nav {
  width: 90%;
  max-width: rem(1100px);
}

.navList {
  display: flex;
  flex-direction: row;
}

.navItem {
  position: relative;
  padding: rem(12px);
  margin: rem(0px) rem(8px);

  &::after {
    @include pseudo;
    @include square(rem(6px), $main_text_color);
    right: rem(-12px);
    bottom: rem(18px);
  }

  &:last-child::after {
    display: none;
  }
}
[data-theme="dark"] .navItem {
  &::after {
    @include pseudo;
    @include square(rem(6px), $main_text_color--dark);
    right: rem(-12px);
    bottom: rem(18px);
  }

  &:last-child::after {
    display: none;
  }
}

.navLink {
  transition: 0.3s;
  padding: rem(12px) rem(0px);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: $main_text_color;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $active_text_color;
  }

  &_active {
    color: $active_text_color;
  }
}
[data-theme="dark"] .navLink {
  color: $main_text_color--dark;

  &:hover {
    color: $active_text_color--dark;
  }

  &_active {
    color: $active_text_color--dark;
  }
}
