@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

.header {
  z-index: $z-index_header;
  height: rem(43px);
  font-size: rem(16px);
  position: fixed;
  width: 100%;
  @include background-color($main_head_color, $main_head_color--dark);
  border-bottom: rem(1px) solid $border_color;
  display: flex;
  justify-content: center;

  [data-theme="dark"] & {
    border-bottom: rem(1px) solid $border_color--dark;
  }

  @include mobile-landscape {
    height: rem(31px);
  }
}

.nav {
  width: 90%;
  max-width: rem(1100px);
}

.navList {
  display: flex;
  flex-direction: row;
}

.navItem {
  position: relative;
  padding: rem(12px);
  margin: rem(0px) rem(8px);

  &::after {
    @include pseudo;
    @include square(rem(6px), $main_text_color);
    right: rem(-12px);
    bottom: rem(18px);

    @include mobile-landscape {
      bottom: rem(12px);
    }
  }

  &:last-child::after {
    display: none;
  }

  [data-theme="dark"] & {
    &::after {
      @include square(rem(6px), $main_text_color--dark);
    }
  }

  @include mobile-landscape {
    padding: rem(6px);
  }
}

.navLink {
  transition: 0.3s;
  padding: rem(12px) rem(0px);
  @include fonts-text();
  @include color($main_text_color, $main_text_color--dark);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    @include color($active_text_color, $active_text_color--dark);
  }

  &_active {
    @include color($active_text_color, $active_text_color--dark);
  }
}
